@{
    Layout = "_Layout";
}
<h1>Welcome Pierre, to your Bakery Vendor Service!</h1>
<h3><a href="/vendors">View Vendors</a></h3>
<h3><a href="/vendors/new">Add a new Vendor</a></h3>

<img src="~/img/bread1.png" alt="A loaf of bread." id="bread1">
<img src="~/img/bread2.png" alt="A cust Bread." id="bread2">
<img src="~/img/pastry1.png" alt="A cartoon pastry." id="pastry1">