@{
    Layout = "_Layout";
}
<h1>Add a Vendor</h1>
<h3>Add a Vendor here:</h3>

<form action="/vendors" method="post">
    <label for="vendorName">Vendor's Name:</label>
    <input type="text" name="vendorName" id="vendorName"> <br>
    <label for="vendorDescription">Vendor's Description:</label>
    <input type="text" name="vendorDescription" id="vendorDescription"> <br>
    <button type="submit">Add Vendor</button>
</form>

<h4><a href="/">Back to Main Page</a></h4>
<h4><a href="/vendors">Back to vendors.</a></h4>